form{
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 14px;
color:#305766;
font-weight: 400;
text-align: center;
padding:5px;

width:auto;
height:auto
}
#user #email #password {
    width: 80%;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #305766;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color:#49c2f2;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

  }

#check{
    width: 40%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #305766;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color:#49c2f2;
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

  }


button{
color:#49c2f2;
font-weight: 400;
text-align: center;
background:#305766;
border-radius: 5px;
width: 240px;
height: 40px;


}
