<div class="form-user">
  <h2>REGISTRARSE</h2>
  <form>
    <div class="user">
      <h4>INGRESA NOMBRE</h4>
      <input type="text" name="required" placeholder="Nombre">
    </div>
    <div class="email">
      <h4>INGRESA EMAIL</h4>
      <input type="email" name="required" placeholder="Correo">
    </div>
    <div class="password">
      <h4>INGRESA CONTRASEÑA</h4>
      <input type="password" name="required" placeholder="Contraseña">
    </div>
    <div class="password">
      <h4>CONFIRMA CONTRASEÑA</h4>
      <input type="password" name="required"
        placeholder="Confirma tu contraseña">
    </div>
    <div class="check">
      <input type="checkbox" name="required" id="checkbox">
      <label for="checkbox">Acepto los términos y condiciones</label>
    </div>
    <span></span>
    <span></span>
    <span></span>
    <br>
    <br>
    <button type="submit"> REGISTRARSE</button>
  </form>
</div>
